---
// src/pages/index.astro
import '../styles/global.css'
import Layout from '@/layouts/Layout.astro'
import { Button } from '@/components/ui/button'
---
<Layout title="Home">
  <section
    class="relative w-full h-[70vh] bg-cover bg-center"
    style="background-image: url('https://github.com/pokepetter/ld44_life_is_currency/blob/master/value_of_life_screenshot.jpg?raw=true')"
  >
    <div class="absolute inset-0 bg-black/40"></div>
    <div class="relative container mx-auto h-full flex flex-col md:flex-row items-center px-6">
      <!-- left: text -->
      <div class="md:w-1/2 text-white">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">
          Game Development, Simplified
        </h1>
        <p class="text-lg mb-6">
          Ursina Engine is a free, open-source Python game engine that makes it easy to create 3D games and applications with minimal code.
        </p>
        <div class="flex space-x-4">
          <a href="/">
              <Button
              className="bg-primary text-primary-foreground hover:bg-primary/90"
              size="lg"
            >
              Get Started
            </Button>
          </a>
          <a href="/">
              <Button
              variant="outline"
              className="border-primary text-primary hover:bg-primary/10"
              size="lg"
            >
              Learn More
            </Button>
          </a>
        </div>
      </div>
    </div>
  </section>

</Layout>
